# Visual Studio / SSDT
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
*.dacpac
*.publish.xml
SqlCmdFiles/
publish/
*.sqlpublish

# Logs
Logs/*
*.log

# OS
Thumbs.db
.DS_Store

# Other
[Dd]ebug/
[Rr]elease/
.vs/
.git/
*.pdb